github "Alamofire/Alamofire"
github "RxSwiftCommunity/RxAlamofire" "master"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxDataSources" ~> 1.0
github "realm/realm-cocoa"
github "RxSwiftCommunity/Action"
github "RxSwiftCommunity/NSObject-Rx"
github "Hearst-DD/ObjectMapper" ~> 2.2
