github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "johnsundell/unbox"
github "realm/realm-cocoa"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxRealmDataSources"
github "RxSwiftCommunity/Action"
github "RxSwiftCommunity/NSObject-Rx"
github "RxSwiftCommunity/RxRealm"
